<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c780a6">  <td>16/12/01 13:24:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleProgram.setUp()[pri:0, instance:SampleProgram@3b8628c8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@409505761</td>   <td></td> </tr>
<tr bgcolor="c780a6">  <td>16/12/01 13:24:59</td>   <td>33040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleProgram.tearDown()[pri:0, instance:SampleProgram@3b8628c8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@409505761</td>   <td></td> </tr>
<tr bgcolor="c780a6">  <td>16/12/01 13:24:36</td>   <td>10347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleProgram.testLogin()[pri:0, instance:SampleProgram@3b8628c8]">testLogin</td> 
  <td>main@409505761</td>   <td></td> </tr>
</table>
